<div class="card">
  <div class="c-img">
    <img [src]="anime.cover_image" [alt]="anime.title" loading="lazy">
    <div class="c-play">
      <div class="c-btn"><i class="fas fa-play"></i></div>
    </div>
  </div>
  <div class="c-info">
    <div class="c-title">{{ anime.title }}</div>
    <div class="c-meta">
      <span>{{ anime.release_year }}</span>
      <span>{{ anime.episodes_count }} Ep</span>
      <span class="rating"><i class="fas fa-star"></i> {{ anime.rating }}</span>
    </div>
  </div>
</div>
